ef.documents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ef/documents" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EFDocuments" targetNamespace="http://ef/documents" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://ef/documents/Imports">
      <xsd:import namespace="http://ef/documents" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFDokServiceV1.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDokumentService_GetDokumente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDokumente" />
  </wsdl:message>
  <wsdl:message name="IDokumentService_GetDokumente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDokumenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDokumentService_GetDokument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDokument" />
  </wsdl:message>
  <wsdl:message name="IDokumentService_GetDokument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDokumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDokumentService_SearchDokumente_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDokumente" />
  </wsdl:message>
  <wsdl:message name="IDokumentService_SearchDokumente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDokumenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IDokumentService">
    <wsdl:operation name="GetDokumente">
      <wsdl:input wsaw:Action="http://ef/documents/IDokumentService/GetDokumente" message="tns:IDokumentService_GetDokumente_InputMessage" />
      <wsdl:output wsaw:Action="http://ef/documents/IDokumentService/GetDokumenteResponse" message="tns:IDokumentService_GetDokumente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDokument">
      <wsdl:input wsaw:Action="http://ef/documents/IDokumentService/GetDokument" message="tns:IDokumentService_GetDokument_InputMessage" />
      <wsdl:output wsaw:Action="http://ef/documents/IDokumentService/GetDokumentResponse" message="tns:IDokumentService_GetDokument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDokumente">
      <wsdl:input wsaw:Action="http://ef/documents/IDokumentService/SearchDokumente" message="tns:IDokumentService_SearchDokumente_InputMessage" />
      <wsdl:output wsaw:Action="http://ef/documents/IDokumentService/SearchDokumenteResponse" message="tns:IDokumentService_SearchDokumente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EFDocuments">
    <wsdl:port name="BasicHttpBinding_IDokumentService" binding="i0:BasicHttpBinding_IDokumentService">
      <soap:address location="http://localhost:8008/EFDocuments" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>