WCFDokServerV1GUIClient/Connected Services/ServiceReference1/EFDocuments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ef/documents" elementFormDefault="qualified" targetNamespace="http://ef/documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8008/EFDocuments?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDokServiceV1.DAL" />
  <xs:element name="GetDokumente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDokumenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDokServiceV1.DAL" minOccurs="0" name="GetDokumenteResult" nillable="true" type="q1:ArrayOfDokument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDokument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DokId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDokumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDokServiceV1.DAL" minOccurs="0" name="GetDokumentResult" nillable="true" type="q2:Dokument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDokumente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDokumenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFDokServiceV1.DAL" minOccurs="0" name="SearchDokumenteResult" nillable="true" type="q3:ArrayOfDokument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>