WCFDocServiceV2Client/Connected Services/WCFService/WCFDocuments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wcf/documents" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFDocuments" targetNamespace="http://wcf/documents" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wcf/documents/Imports">
      <xsd:import schemaLocation="http://localhost:8010/Service/WCFDocuments2?xsd=xsd0" namespace="http://wcf/documents" />
      <xsd:import schemaLocation="http://localhost:8010/Service/WCFDocuments2?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8010/Service/WCFDocuments2?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_SearchDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_SearchDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="http://wcf/documents/IDocumentService/GetDocuments" message="tns:IDocumentService_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf/documents/IDocumentService/GetDocumentsResponse" message="tns:IDocumentService_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://wcf/documents/IDocumentService/GetDocument" message="tns:IDocumentService_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf/documents/IDocumentService/GetDocumentResponse" message="tns:IDocumentService_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDocuments">
      <wsdl:input wsaw:Action="http://wcf/documents/IDocumentService/SearchDocuments" message="tns:IDocumentService_SearchDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://wcf/documents/IDocumentService/SearchDocumentsResponse" message="tns:IDocumentService_SearchDocuments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WCFDocuments2" type="tns:IDocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocuments">
      <soap:operation soapAction="http://wcf/documents/IDocumentService/GetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://wcf/documents/IDocumentService/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDocuments">
      <soap:operation soapAction="http://wcf/documents/IDocumentService/SearchDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFDocuments">
    <wsdl:port name="WCFDocuments2" binding="tns:WCFDocuments2">
      <soap:address location="http://localhost:8010/Service/WCFDocuments2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>