WCFDocServiceV2HttpsClient/Connected Services/WCFService/WCFDocuments21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wcf/documents" elementFormDefault="qualified" targetNamespace="http://wcf/documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:8010/Service/WCFDocuments2?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" />
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q1:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" minOccurs="0" name="GetDocumentResult" nillable="true" type="q2:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" minOccurs="0" name="SearchDocumentsResult" nillable="true" type="q3:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>