WCFDocServiceV2HttpsClient/Connected Services/WCFService/WCFDocuments2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDocServiceV2.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocAuthor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" type="xs:int" />
      <xs:element minOccurs="0" name="DocTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaId" type="tns:MediaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:simpleType name="MediaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pdf" />
      <xs:enumeration value="Office" />
      <xs:enumeration value="Miscellaneous" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MediaType" nillable="true" type="tns:MediaType" />
</xs:schema>